
<div class="container">

    <!-- <app-tree-stadistics></app-tree-stadistics> -->

  <div class="container">
    <div class="row">
      <div class="col-4">
        <form id="login">
          <div class="form-group my-3">
            <label for="exampleInputUser1">User</label> <br>
            <input type="text" class="form-control" id="exampleInputUser1" aria-describedby="emailHelp" placeholder="Enter user" [(ngModel)]= "user">
            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
          </div>
          <div class="form-group my-3">
            <label for="exampleInputPassword1">Password</label><br>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" [(ngModel)]= "pass">
          </div>
          <!-- <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
          </div> -->
          <button type="submit" class="btn btn-primary" value="login" (click)="loginUser()">Submit</button>
        </form>
        
        <!-- <form>
          <input type="text" class="txt1" name="item" placeholder="user" [(ngModel)]= "user">
          <input type="password" class="txt1" name="item" placeholder="pass" [(ngModel)]= "pass">
         <input type="submit" class="btn1" value="login" (click)="loginUser()">
        </form> -->
    
        {{ token }}
      </div>
    </div>
  </div>
  
  

</div>

<div class="container my-5 color-light rounded">
  <div class="col-6">
    <p> Add a tree to the list  -  Your tree list ( {{ itemCount }} ) </p>
    <p class="sm">
      Use this form below to add a new tree
    </p>
    <form>
      <div class="form-row">
        <div class="col">
          <input type="text" class="form-control" placeholder="Location" [(ngModel)]= "loc">>
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Tree Type" [(ngModel)]= "tree">>
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Planted by..." [(ngModel)]= "planted">>
        </div>
      </div>
      <input type="submit" class="btn" value="{{ btnText }}" (click)="addItem()">
    </form>

    <!-- <form>
      <input type="text" class="txt" name="item" placeholder="Add New Tree" [(ngModel)]= "goalText">
      
    </form> -->

  </div>

<div class="col-6">
 <!-- <p class="life-container" *ngFor="let goal of goals; let i = index"(click)="removeItem(i)">
		{{ goal.description }}
  </p>		  -->
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Ubicación</th>
        <th scope="col">Tipo De Árbol</th>
        <th scope="col">Plantado por</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
  
</div>
